html, body, .main-left, .main-right {
  width: 100%;
  height: 100%;
}

main {
  margin: 0 auto;
  $main-height: 650px;

  @include breakpoint($tab) {
    height: $main-height;
    max-width: ($main-height/.67);
  }

  @media (min-height: $main-height) and (min-width:$tab) {
    position: relative;
    top: 10%;
    // transform: translateY(-50%);
  }
}

.main-left {
  height: 500px;
}

.main-right {
  height: 600px;
}

.main-left, .main-right {
  position: relative;
  @include breakpoint($tab) {
    height: 100%;
  }
}
