.single-portfolio {
  aside {
    position: fixed;
    right: 0;
    top: 0;
    width: 20px;
    height: 80vh;
    z-index: 1;
    background: yellow;

    .aside-inner {
      transform: rotate(90deg) translateY(-10px);
      transform-origin: left;
      width: 80vh;
      white-space: nowrap;
      position: fixed;

      p {
        display: inline-block;
        &:last-child {
          position: absolute;
          right: 15px;
          top: 0;
        }
      }
    }
  }
}

.container-portfolio-post {
  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }
}

.container-portfolio-post {
  padding-right: 40px;
}
