@font-face {
font-family: akzidenzmedium;
src: url("font/AkzidenzGrotesk-Medium.otf") format("opentype");
}

@font-face {
font-family: akzidenzregular;
src: url("font/AkzidenzGrotesk-Regular.otf") format("opentype");
}

@font-face {
font-family: akzidenzlight;
src: url("font/AkzidenzGrotesk-Light.otf") format("opentype");
}

html {
  font-family: akzidenzlight;
}

h1, h2 {
  font-family: akzidenzregular;
}

p {
  line-height: 19px;
  text-align: justify;
}

p, li {
  font-size: 14px;
}


a, a:visited, a:active, a:link {
  color: $light-text;
  text-decoration: none;
}
