@import 'contact-info-text';

.logo {
  max-width: 260px;
  padding: 15px;
}

// .divider {
//   height: 100%;
//   width: 2px;
//   background: white;
//   position: absolute;
//   left: 50%;
//   top: 0;
//   transform: translateX(-50%);
// }
