@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body {
  max-width: 100%;
  overflow-x: hidden; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: akzidenzmedium;
  src: url("font/AkzidenzGrotesk-Medium.otf") format("opentype"); }

@font-face {
  font-family: akzidenzregular;
  src: url("font/AkzidenzGrotesk-Regular.otf") format("opentype"); }

@font-face {
  font-family: akzidenzlight;
  src: url("font/AkzidenzGrotesk-Light.otf") format("opentype"); }

html {
  font-family: akzidenzlight; }

h1, h2 {
  font-family: akzidenzregular; }

p {
  line-height: 19px;
  text-align: justify; }

p, li {
  font-size: 14px; }

a, a:visited, a:active, a:link {
  color: white;
  text-decoration: none; }

html, body, .main-left, .main-right {
  width: 100%;
  height: 100%; }

main {
  margin: 0 auto; }
  @media (min-width: 50em) {
    main {
      height: 650px;
      max-width: 970.14925px; } }
  @media (min-height: 650px) and (min-width: 50em) {
    main {
      position: relative;
      top: 10%; } }

.main-left {
  height: 500px; }

.main-right {
  height: 600px; }

.main-left, .main-right {
  position: relative; }
  @media (min-width: 50em) {
    .main-left, .main-right {
      height: 100%; } }

.contact-info-text {
  padding: 15px; }
  .contact-info-text span {
    color: grey; }

.home .contact-info-text {
  position: absolute;
  bottom: 0;
  left: 0; }

.logo {
  max-width: 260px;
  padding: 15px; }

img {
  max-width: 100%; }

nav {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(50%);
  margin-right: 25px; }
  @media (min-width: 50em) {
    nav {
      margin-right: 0; } }
  nav ul {
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: 50% 50%; }
    nav ul li {
      display: inline;
      margin-left: 15px; }
  nav .current_page_item {
    border-bottom: 2px solid white; }

.home {
  background: #282828;
  color: white; }

.main-left, .main-right {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

@media (min-width: 50em) {
  .main-left {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; } }

.main-left h1 {
  font-size: 25px;
  margin-bottom: 9px; }
  .main-left h1 hr {
    margin: 4px 0 5px;
    border-bottom-width: 3px; }

.main-left li {
  padding-top: 3px; }

@media (min-width: 50em) {
  .main-right {
    width: 49.15254%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

.main-right p {
  position: absolute;
  bottom: 0;
  padding: 15px; }

.main-right h2 {
  font-size: 33px;
  line-height: 40px;
  padding: 15px; }

.main-right h2:last-of-type {
  text-align: right; }

.single-portfolio aside {
  position: fixed;
  right: 0;
  top: 0;
  width: 20px;
  height: 80vh;
  z-index: 1;
  background: yellow; }
  .single-portfolio aside .aside-inner {
    transform: rotate(90deg) translateY(-10px);
    transform-origin: left;
    width: 80vh;
    white-space: nowrap;
    position: fixed; }
    .single-portfolio aside .aside-inner p {
      display: inline-block; }
      .single-portfolio aside .aside-inner p:last-child {
        position: absolute;
        right: 15px;
        top: 0; }

.container-portfolio-post blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’"; }

.container-portfolio-post blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }

.container-portfolio-post blockquote p {
  display: inline; }

.container-portfolio-post {
  padding-right: 40px; }
